/* general styling & overrides */

/* fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700,900i&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

/* variables */
:root {
  --blue: #2357dd;
  --black: rgb(17, 15, 36);
  --light-grey: #dedede;
  --off-white: #fbfbfb;
}

main {
  padding: 70px;
}

/* header */
header {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 2rem;
  opacity: 0.4;
}

header h1 a {
  color: var(--black);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

header h1 a:hover {
  opacity: 0.8;
}

/* drag & drop */
.drag-and-drop {
  background: var(--off-white);
  border: 2px dashed var(--light-grey);
  padding: 4rem;
  margin: 6rem auto;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-and-drop img {
  margin-bottom: 2rem;
  width: 100%;
  max-width: 420px;
}

.drag-and-drop form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.drag-and-drop form label,
.drag-and-drop form input {
  font-size: 1rem;
  color: var(--black);
  opacity: 0.4;
  margin-bottom: 1rem;
}

.drag-and-drop form label span {
  text-decoration: underline;
}

.drag-and-drop.highlight {
  border-color: var(--blue);
  background-color: rgba(35, 87, 221, 0.04);
}

.submit-ctas {
  display: flex;
}

.submit-ctas .select-container {
  display: flex;
  flex-direction: column;
}

.submit-ctas .select-container {
  flex: 1;
}

.submit-ctas .select-container label {
  font-size: 1rem;
  color: var(--black);
  opacity: 0.4;
  margin-bottom: 1rem;
}

.submit-ctas .select-container select {
  appearance: none;
  -moz-appearance: none;
  border: 1px solid var(--light-grey);
  border-radius: 0.5rem;
  width: 310px;
  height: 54px;
  color: var(--blue);
  font-size: 1rem;
  padding: 1rem;
  flex: 1;
  background-image: url("../images/chevron-down.png");
  background-size: 1rem;
  background-position: 95% 1.5rem;
  background-repeat: no-repeat;
}

.submit-ctas button {
  align-self: flex-end;
  background: var(--blue);
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.submit-ctas button:hover {
  opacity: 0.8;
}

.submit-ctas button i {
  margin-right: 0.5rem;
}

.submit-ctas button:disabled {
  background-color: rgba(17, 15, 36, 0.1);
  color: rgba(17, 15, 36, 0.2);
  pointer-events: none;
}

.submit-ctas button:disabled i {
  color: rgba(17, 15, 36, 0.2);
}

/* footer */
footer {
  margin-top: 6rem;
  text-align: center;
}

footer p {
  font-size: 0.75rem;
  color: rgba(17, 15, 36, 0.4);
  line-height: 140%;
}

footer p a {
  color: var(--blue);
}

footer p a:hover {
  text-decoration: none;
}

/* tooltip */
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: rgba(17, 15, 36, 1);
  color: var(--off-white);
  text-align: center;
  border-radius: 0.5rem;
  padding: 0.25rem;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(17, 15, 36, 1) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* success */
.success,
.error {
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success img,
.error img {
  margin-bottom: 3rem;
  max-width: 420px;
  width: 100%;
}

.success h2,
.error h2 {
  font-weight: 900;
  color: var(--blue);
  font-size: 3.25rem;
}

.success p,
.error p {
  font-size: 1.5rem;
  color: var(--black);
  opacity: 0.4;
  margin: 1rem 0;
}

.success a,
.error a {
  font-size: 1rem;
  color: var(--blue);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  font-weight: 300;
}

.success a i,
.error a i {
  margin-right: 0.5rem;
}

.success a:hover,
.error a:hover {
  opacity: 0.8;
}

.error a {
  margin-top: 2rem;
}

/* input link */
.input-container {
  display: flex;
  background-color: var(--off-white);
  padding: 1rem;
  border: 2px dashed var(--light-grey);
  border-radius: 1rem;
  width: 100%;
  max-width: 640px;
  margin: 2rem 0;
  box-sizing: border-box;
}

.input-container input {
  appearance: none;
  -moz-appearance: none;
  width: 90%;
  background: transparent;
  border: none;
  color: rgba(17, 15, 36, 0.4);
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.input-container input:hover {
  color: var(--blue);
}

.input-container button {
  appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: none;
  color: var(--blue);
}

/* loading */
.loading {
  overflow: hidden;
  pointer-events: none;
}

.overlay {
  display: none;
  position: absolute;
  background-color: rgba(25, 49, 112, 0.9);
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--off-white);
}

.overlay i {
  margin-bottom: 1.5rem;
}

.overlay h3 {
  font-weight: 200;
  font-size: 2.5rem;
  font-family: "Poppins", sans-serif;
}

.overlay.show {
  display: flex;
}

/* Responsive */
@media screen and (max-width: 670px) {
  main {
    padding: 20px;
  }

  .drag-and-drop {
    margin: 2rem auto;
    padding: 2rem;
  }

  footer {
    margin-top: 4rem;
  }
}

@media screen and (max-width: 520px) {
  .drag-and-drop form label {
    text-align: center;
  }

  .submit-ctas {
    flex-direction: column;
  }

  .submit-ctas .select-container {
    margin-bottom: 1rem;
  }

  .submit-ctas .select-container select {
    width: 100%;
  }

  .submit-ctas button {
    width: 100%;
  }

  .success h2,
  .error h2 {
    font-size: 2.5rem;
  }

  .success p,
  .error p {
    font-size: 1rem;
  }

  .input-container input {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 360px) {
  .drag-and-drop form label,
  .drag-and-drop form input {
    font-size: 0.8rem;
  }

  .success p,
  .error p {
    text-align: center;
  }
}
